body {
  background-color: #000;
  text-align: center;
  color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#jbc {
  background-color: rgba(255, 255, 255, 0.06);
  width: 200px;
  margin: auto;
  font-size: 5em;
  font-weight: 500;
  padding: 10px;
  padding-bottom: 15px;
}

#jbc li {
  display: inline-block;
  list-style: none;
}

#jbc_overlay {
  font-weight: normal;
  position: absolute;
  font-size: 6em;
  top: 1.2em;
  left: calc(50% - 1.2em);
  color: #09d;
  background-color: rgba(255, 255, 255, 0.05);
}


#lungs {
  max-width: 100%;
  height: auto;
}


nav {
  display: flex;
  max-width: 686px;
  margin: auto;
  justify-content: space-around;
  font-size: 4em;
}

.blog.arrow+.fundraiser.arrow {
  margin-left: 3.5em;
}


.blog.arrow {
  display: flex;

}
.nav-center {
  display: flex;
  justify-content: space-between;
  flex-basis: 200px;
  cursor: pointer;
}
.fundraiser.arrow {}

.blog.arrow:hover {
  color: #a00;
}
.fundraiser.arrow:hover {
  color: #09d;
}

@media screen and (max-width: 1000px) {
  #jbc {
    font-size: 4em;
  }
}

@media screen and (max-width: 900px) {
  #jbc {
    width: 30%;
    font-size: 3em;
  }
  #nav {
    max-width: 100%;
    font-size: 3.2em;
  }
  #lungs {
    width: 80%;
    margin-bottom: 30px;
  }
}


@media screen and (max-width: 650px) {
  #jbc {
    width: 30%;
    font-size: 3em;
  }
  #nav {
    max-width: 100%;
    font-size: 2em;
  }
  #lungs {
    width: 80%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  #jbc {
    width: 30%;
    font-size: 3em;
  }
  #nav {
    max-width: 100%;
    font-size: 1.5em;
  }
  #lungs {
    width: 80%;
    margin-bottom: 30px;
  }
}
