body {
  background-color: #000;
  text-align: center;
  color: #ddd;
  font-style:
}

#jbc {
  background-color: rgba(255, 255, 255, 0.06);
  width: 200px;
  margin: auto;
  font-size: 5em;
  font-weight: 500;
  padding: 10px;
  padding-bottom: 15px;
}

#jbc li {
  display: inline-block;
  list-style: none;
}

#jbc_overlay {
  font-weight: normal;
  position: absolute;
  font-size: 6em;
  top: 1.2em;
  left: calc(50% - 1.2em);
  color: #09d;
  background-color: rgba(255, 255, 255, 0.05);
}


#lungs {
  max-width: 100%;
  height: auto;
}


nav {
  display: flex;
  max-width: 686px;
  margin: auto;
  justify-content: space-around;
  font-size: 4em;
}

.blog.arrow+.fundraiser.arrow {
  margin-left: 3.5em;
}


.blog.arrow {
  display: flex;
  flex-basis: 100px;
}
.fundraiser.arrow {
display: flex;
flex-basis: 100px;
}

.blog.arrow:hover {
  color: #a00;
}
.fundraiser.arrow:hover {
  color: #09d;
}
