body {
  background-color: #000;
  text-align: center;
  color: #fff;
}

#jbc {
  background-color: rgba(255, 255, 255, 0.1);
  width: 150px;
  margin: auto;
  font-size: 5em;
  font-weight: 500;
  padding: 10px;
  padding-bottom: 15px;
}

#jbc li {
  display: inline-block;
  list-style: none;
}
#jbc .just {}
#jbc .breath {}
#jbc .chris {}

#lungs {

  /*position: relative;*/
  /*background: url('../images/simple.svg.svg');
  background-repeat: no-repeat;
  background-position: center;*/
  /*max-width: 100%;
  height: 500px;*/

}

#jbc_overlay {
  font-weight: normal;
  position: absolute;
  font-size: 6em;
  top: 1.2em;
  left: calc(50% - 1.2em);
  color: #09d;
  background-color: rgba(255, 255, 255, 0.05);
}

nav {
  font-size: 3em;
}

.blog.arrow+.fundraiser.arrow {
  margin-left: 3.5em;
}

.arrow {
  display: inline-block;
}

.blog.arrow {}
.fundraiser.arrow {}

.blog.arrow:hover {
  color: #a00;
}
.fundraiser.arrow:hover {
  color: #09d;
}
